<% if @post %>
  <h2>Single Post</h2>
  <div class="single-post-container">
    <h3 class="post-title"><%= @post.title %></h3>
    <p class="post-text"><%= @post.text %></p>
    <p class="post-meta">Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
    <h4 class="recent-comments-title">Recent Comments:</h4>
    <% @post.five_recent_comments.each do |comment| %>
      <p class="comment-text"><%= comment.text %></p>
    <% end %>
  </div>
<% else %>
  <p>No post found.</p>
<% end %>
<div class="comment_form_holder">
  <h3>Leave a comment</h3>
  <div class="form_buttons">
    <%= render 'comments/form', comment: @comment, post: @post %>
  </div>
</div>

<div class="like_form_holder">
  <div class="form_buttons">
    <%= render 'likes/form', like: @like %>
  </div>
</div>
